@model QuestionnaireLibrary.Questionnaire

<html>
    <head>
        <title>@Model.Title</title>
    </head>
    <body>
        <h2>@Model.Title</h2>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model=> Model.Title)
            @Html.HiddenFor(model => Model.Id)
            if (Model.Questions.Count > 0)
            {
        <ol>
            @for (int i = 0; i < Model.Questions.Count; i++)
            {
                <li> @Model.Questions[i].QuestionText
           
            
             @Html.TextBox("Questions[" + @i + "].UserAnswer", Model.Questions[i].UserAnswer, ViewBag.EditMode? null :new {@readonly="readonly"}) 
            @if (!ViewBag.EditMode)
            {
                if(Model.Questions[i].IsCorrect)
                {
                    <b>is Correct.</b>
                }
                else
                {
                    <b>is incorrect.</b>
                }
            }
            </li>
                 @Html.Hidden("Questions[" + @i + "].Id", Model.Questions[i].Id) 
                @Html.Hidden("Questions[" + @i + "].QuestionText", Model.Questions[i].QuestionText)
            }
        </ol>
            if(ViewBag.EditMode)
            { 
                <input type="submit" name="Send" value="Send" />
            }
            else
            {
                <h3>Thanks. You score is:  @((double) Model.Questions.Where(p=>p.IsCorrect).Count()/ (double)Model.Questions.Count*100)%</h3>
            }
        }
        }
    </body>
</html>
